[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=m2
WorkingDirectory=/home/m2/sites/DOMAIN
EnvironmentFile=/home/m2/sites/DOMAIN/.env

ExecStart=/home/m2/miniconda3/envs/goated_env/bin/gunicorn     --bind unix:/tmp/DOMAIN.socket     superlists.wsgi:application

[Install]
WantedBy=multi-user.target
